li{
    font-weight: bold;
}

ul > li { /*Any element matching "li" that is a direct child of UL*/
    color: lightgreen;
}

ol >li{  /*Any element matching "li" that is a direct child of OL*/
    color: orangered;
}
ul li li { /*any element matching ul that is a descendent of an element matching ul*/
    color:aqua;
}

ol+ul{
background-color: orangered}